---
---

/*
gem install bootstrap-sass -v 3.3.7
curl -o _sass/_bootstrap-custom.scss https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/_bootstrap.scss # https://github.com/twbs/bootstrap-sass#sass
*/
@import 'bootstrap-custom';

/*
gem install rouge
rougify style github > _sass/syntax.css
*/
@import "rouge";

/*
wget https://github.com/primer/primer-css/archive/master.zip
unzip master.zip
cd primer-css-master
npm install --save primer-css
cp node_modules/primer-css/build.css _sass/
*/
@import "primer-css";
@import "primer-utilities";

/* symmetry with navbar-fixed-top */
body {
    margin-bottom: 50px;
}

/* position title above TOC if small screen */
/* TODO: use Sass to figure out 768px via variable */
@media (max-width: 768px) {
    .col-sm-9 h1 {
        display: none; /* hide other title */
    }
}
@media (min-width: 768px) {
    .col-sm-3 h1 { 
        white-space: nowrap; /* confine to one line so title doesn't invisibly wrap */
        visibility: hidden; /* hide title above TOC but preserve its height */
    }
}
.col-sm-12 nav + h1[id] {
    display: none;
}

/* position columns below navbar-fixed-top */
/* http://getbootstrap.com/components/#navbar-fixed-top */
.col-sm-12 {
    padding-top: 50px; 
}
@media (min-width: 768px) {
    .col-sm-3 { /* scroll TOC independently */
        bottom: 0;
        left: 0;
        overflow-y: auto;
        position: fixed;
        right: 0;
        top: 50px;
    }
}

/* stylize TOC */
nav {
    font-size: smaller;
}
nav a {
    color: #999;
}
nav .navbar-form {
    box-shadow: none;
}

/* prevent word breaks */
.markdown-body {
    word-wrap: normal;
}

/* constrain to viewport */
iframe, img {
    max-width: 100%;
}

/* ensure long paths wrap on mobile */
p {
    word-break: break-word;
}

/* don't stylize AnchorJS links */
a.anchorjs-link {
    color: inherit;
    text-decoration: inherit;
}
