---
---

@import "toolkit-light";
@import "rouge";
@import "build";

/* global body padding */
body {
}

/* prevent word breaks */
.markdown-body {
    word-wrap: normal;
}

/* TODO: use Sass to figure out 768px via variable */
@media (min-width: 768px) {
    .sidebar {
        height: 100%;
        overflow-y: auto;
        position: fixed;
    }
}

.sidebar-nav {
    font-size: smaller;
}

.sidebar-nav a {
    color: #999;
}

.sidebar-nav ul {
    list-style: none;
}

/* TODO: use Sass to figure out right and top margins via variables */
.sidebar-toggler {
    background-color: #fff;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 1;
}

/* */
iframe {
    max-width: 100%;
}

/* */
img {
    max-width: 100%;
}

/* apply .table to all table elements */
table {
  /*@extend .table;*/
}
