@mixin border-radius($value) {
    border-radius: #{$value};
    -webkit-border-radius: #{$value};
    -moz-border-radius: #{$value};
    behavior: url('/lib/PIE-1.0.0/PIE.php');
}

@mixin box-shadow($value) {
    box-shadow: #{$value};
    behavior: url('/lib/PIE-1.0.0/PIE.php');
    -moz-box-shadow: #{$value};
    -webkit-box-shadow: #{$value};
}

@mixin background-color($value) {
    background-color: ie-hex-str($value);
    background-color: $value;
}

@mixin background-linear-gradient($direction, $first, $second) {
    background-image: -moz-linear-gradient($direction, $first, $second);
    background-image: -ms-linear-gradient($direction, $first, $second);
    background-image: -webkit-linear-gradient($direction, $first, $second);
    background-image: -o-linear-gradient($direction, $first, $second);
    background-image: linear-gradient($direction, $first, $second);
}

@mixin ie-gradient($direction, $first, $second) {
    $iefirst: ie-hex-str($first);
    $iesecond: ie-hex-str($second);
    @if $direction == 'top' {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$iefirst}, endColorstr=#{$iesecond},GradientType=0);
    } @else {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$iefirst}, endColorstr=#{$iesecond},GradientType=1);
    }
}

@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
    transition: $value;
}

@mixin user-select($value) {
    -webkit-user-select: $value;
    -ms-user-select: $value;
    -moz-user-select: $value;
}

@mixin box-sizing($value) {
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    box-sizing: $value;
}

@mixin backface-visibility($value) {
    -webkit-backface-visibility: $value;
    -moz-backface-visibility:    $value;
    -ms-backface-visibility:     $value; 
    -webkit-transform-style: preserve-3d;
    -moz-transform-style:    preserve-3d;
    -ms-transform-style:     preserve-3d; 
}

@mixin transform($value) {
    -webkit-transform: $value;
    -moz-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
    transform: $value;
}

@mixin perspective($value) {
    -webkit-perspective: $value;
    -moz-perspective: $value;
    perspective: $value;
}

@mixin perspective-origin($value) {
    -webkit-perspective-origin: $value;
    -moz-perspective-origin: $value;
    perspective-origin: $value;
}

@mixin opacity($value) {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value*100))";
    
    /* IE 5-7 */
    filter: alpha(opacity=$value*100);

    -moz-opacity: $value;
    -khtml-opacity: $value;
    opacity: $value;
}

/* Enable image placeholders */
@-moz-document url-prefix(http), url-prefix(file) {
    img:-moz-broken{
        -moz-force-broken-image-icon:1;
    }
}
