@import "mixins";

@font-face {
    font-family: 'bariol';
    src: url('fonts/bariol_regular-webfont.eot');
    src: url('fonts/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bariol_regular-webfont.woff') format('woff'),
         url('fonts/bariol_regular-webfont.ttf') format('truetype'),
         url('fonts/bariol_regular-webfont.svg#bariol_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    font-family: "futura-pt";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "bariol";
    color: inherit;
}

h1 {
    font-size: 2.125em;
    line-height: 1.4em;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.8em;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    margin-bottom: 1em;
}

.listingblock {
    font-size: 1em;
}

a {
    color: #AA1E2E;
    text-decoration: none;

    &:hover {
        color: #888;
    }
}

div[class^="sect"] {
    margin-left: 10px;
}

div.sect2 {
    margin-left: 0px;
}

div.sectionbody {
    margin-left: 0px;    
}

code {
    white-space: pre-wrap;
}

#background {
    width: 100%;
    height: 100%;
    background: url(/img/wood_background.jpg); 
    background-position: 50% 0%;
}

.not-main #preamble {
    padding-bottom: 20px;
    border-bottom: 3px double #ebebeb;

    .paragraph p {
        margin-bottom: 0px;
        padding-bottom: 1em;
        padding-left: 20px;
        padding-right: 20px;
        border-left: 5px solid #555;
    }

    .sectionbody > .ulist {
        border-left: 5px solid #555;
    
        > ul {
            padding: 4px 0px 10px 0px; 
            margin: 0px 0px 0px 20px;
        }
    }   

    #toc + .paragraph p {
        padding-top: 15px;
    }
}

#toc {
    display: inline-block;
    margin: 15px 30px 25px 30px;
    padding: 0px 25px;
    width: 300px;
    border: 0px;
    font-family: "bariol";
    background-color: #FEFEFE;
    @include border-radius(2px);
    @include box-shadow(0px 1px 3px #CCC);
        
    a {
        color: #555;
        text-shadow: 0px 1px white;
    }

    ul, ol, dl {
        line-height: 1.3em;
        counter-reset: section;
        list-style-type: none;
      
        li:before {
            counter-increment: section;
            content: counters(section, ".") " ";  
        }
    }

    #toctitle {
        font-family: "bariol";
        font-size: 20px;
    }
}

#container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 30px;
    right: 50px;
    padding-left: 20px;
    overflow: auto;
    min-width: 700px;
    max-width: 1200px;
    text-shadow: 0px 1px 0px white;
    color: #444;
    margin: 0 auto;

    > * {
        position: relative;
        z-index: 2;
    }

    #container-background {
        position: fixed;
        top: 0px;
        left: 50px;
        right: 50px;
        bottom: 0px;
        height: 100%;
        min-width: 700px;
        max-width: 1200px;
        z-index: 1;
        margin: 0 auto;
        @include background-linear-gradient(top, #FFF, #F3F3F3);
        @include ie-gradient(top, #FFF, #F3F3F3);
        @include box-shadow(0px 0px 3px #333);
    }
    
    #search-wrapper {
        float: right;
        margin-top: 10px;
        margin-right: 10px;
        width: 350px;
        z-index: 4;

        .gsc-control-cse { 
            margin: 0px;
            padding: 0px;
            border: 0px;
            background-color: transparent;

            .gsc-table-result {
                @include box-sizing(content-box);
            }

            .gsc-search-box-tools {
                td, tr, table {
                    border: 0px;
                    margin: 0px;
                    padding: 0px;
                    background-color: transparent;
               
                    * {
                        border: 0px;
                        background-color: transparent;
                    }
                }
            }

            td, tr, table {
                border: 0px;
                @include box-sizing(content-box);
            }

            .gsc-input-box-hover, .gsc-input-box-focus {
                @include box-shadow(none !important);
            }

            td.gsc-search-button {
                background-color: #D84260;
                @include border-radius(3px);
                @include opacity(.8);
                padding: 8px 8px;

                &:hover {
                    @include opacity(1);
                }

                * {
                    display: block;
                    margin: 0px;
                    padding: 0px;
                }
            }

            .gsc-input {
                padding-right: 5px !important;
            }

            .gsc-input-box {
                height: auto;
            }

            .gsib_b {
                min-width: 28px;
            }

            .gsc-input input {
                @include border-radius(3px);
                @include box-shadow("0px 1px 1px #F6F6F6, inset 0px 1px 3px #DDD !important"); 
                height: 1.75em !important;
                padding: 2px 20px 0px 8px !important;
                background-position: 3% 55% !important;    
                margin-right: 5px !important;
            }
        }
    }

    .sect1 {
        padding: 0px 0px 10px 0px;
        margin: 10px 0px 0px 0px;    

        .sectionbody {
            padding: 10px 30px 0px 22px;   
        
            > .ulist > ul {
                margin-bottom: 0px;    
            }
        }
       
        > h2 {
            padding: 0px 15px;
        }

        &:nth-child(6n+1), &.label-1 {
            > h2 {
                border-left: 5px solid pink;
            }
        }
        
        &:nth-child(6n+2), &.label-2 {
            > h2 {
                border-left: 5px solid #17B0BD;
            }
        }
        
        &:nth-child(6n+3), &.label-3 {
            > h2 {
                border-left: 5px solid #C69DD6;
            }
        }
        
        &:nth-child(6n+4), &.label-4 {
            > h2 {
                border-left: 5px solid #E4C182;
            }
        }
        
        &:nth-child(6n+5), &.label-5 {
            > h2 {
                border-left: 5px solid #82B5E4;
            }
        }
        
        &:nth-child(6n+6), &.label-6 {
            > h2 {
                border-left: 5px solid #82E4A1;
            }
        }
    }

    > h1.manual {
        border-bottom: 1px solid #C5C5C5;
        padding-left: 20px;
        margin-top: 0px;
        padding-top: .1em;
        @include box-shadow(0px 0px 3px #EEE);
        background-color: white;
        @include background-linear-gradient(top, #FFF, #F5F5F5);
        @include ie-gradient(top, #FFF, #F5F5F5);
        
        a {
            color: #333;

            &:hover {
                color: #888;
            }
        }
    }

    > h1.page-title {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: -10px;
        padding-left: 45px;
        padding-right: 40px;
        background-color: #08c;
        @include background-linear-gradient(top, #0195DF, #08c);
        @include ie-gradient(top, #0195DF, #08c);
        color: white;
        text-shadow: 0px 1px #444;
        display: inline-block;
        position: relative;
        @include box-shadow(1px 1px 2px #BBB);
        z-index: 1;
        padding-top: 2px;

        &:before {
            position: absolute;
            content: '';
            left: 0px;
            bottom: -10px;
            border: 5px solid transparent;
            border-top: 5px solid #51BEF5;
            border-right: 5px solid #51BEF5;
        }
    }

    .ulist ul {
        list-style-type: none;
        margin-top: 4px;

        li {
            margin-bottom: 4px;
        }
    }

    > #content > .ulist > ul, &.main #preamble > .sectionbody > .ulist > ul {
        margin: 0px;
        font-family: "bariol";

        > li {
            position: relative;
            margin-bottom: 20px;

            &:before {
                font-weight: bold;
                line-height: 1;
                position: absolute;
                text-align: right;
                left: -40px;
                font-size: 35px;
                text-shadow: 0px -2px 0px black;
                color: white;
                top: 2px;
            }
        
            ul {
                p {
                    line-height: 1.2;
                    margin: 0px;
                }
            }

            > p {
                font-size: 1.2em; 
                margin: 0px 0px 10px 0px;
                padding-left: 15px;
                line-height: 1;

                a {
                    display: inline-block;
                }
            }
              
            &:nth-child(6n+1), &.label-1 {
                > p {
                    border-left: 5px solid pink;
                }
            }
            
            &:nth-child(6n+2), &.label-2 {
                > p {
                    border-left: 5px solid #17B0BD;
                }
            }
            
            &:nth-child(6n+3), &.label-3 {
                > p {
                    border-left: 5px solid #C69DD6;
                }
            }
            
            &:nth-child(6n+4), &.label-4 {
                > p {
                    border-left: 5px solid #E4C182;
                }
            }
            
            &:nth-child(6n+5), &.label-5 {
                > p {
                    border-left: 5px solid #82B5E4;
                }
            }
            
            &:nth-child(6n+6), &.label-6 {
                > p {
                    border-left: 5px solid #82E4A1;
                }
            }
        }
    }

    table.tableblock {
        border: 0px;
        @include box-shadow(0px 1px 3px #BBB);

        th, td {
            border: 0px;
        }
    }
    
    code {
        font-size: .8em;
    }
}
