RewriteEngine on
RewriteBase /

# deny access to *.{asciidoc}
<FilesMatch "\.(asciidoc)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# route /css/*.scss to scss.php
RewriteCond %{REQUEST_URI} ^/css/.*\.scss$
RewriteRule .* scss.php [L]

# route /* to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php [L]

# backwards compatibility with former Manual
Redirect /Appliance /appliance/
Redirect /appliance/19/VirtualBox /appliance/19/virtualbox/
Redirect /appliance/19/VMWare/VMware_Fusion /appliance/19/fusion/
Redirect /appliance/19/VMWare/VMware_Player /appliance/19/player/
Redirect /appliance/19/VMWare/VMware_Workstation /appliance/19/workstation/
Redirect /CS50_Appliance /appliance/
Redirect /CS50_Appliance_1.4 /appliance/1.4/
Redirect /CS50_Appliance_2.0 /appliance/2.0/
Redirect /CS50_Appliance_2.1 /appliance/2.1/
Redirect /CS50_Appliance_2.3 /appliance/2.3/
Redirect /CS50_Appliance_3 /appliance/3/
Redirect /CS50_Appliance_17 /appliance/17/
Redirect /CS50_Library /library/
Redirect /Fall_2010 /2010/fall/
Redirect /Fall_2011 /2011/fall/
Redirect /Fall_2012 /2012/fall/
Redirect /iOS_University_Program /ios/
Redirect /Authenticating_Users /authentication/users/
Redirect /Authentication /authentication/
Redirect /CS50_Hackathon /hackathon/
Redirect /CS50_ID /id/
Redirect /CS50_Library /library/
Redirect /Concentrators /concentrators/
Redirect /Cyberduck /sftp/cyberduck/
Redirect /Discounts /discounts/
Redirect /Enrollment /enrollment/
Redirect /Hardware_Virtualization /virtualization
Redirect /HarvardCourses_API /api/courses/
Redirect /HarvardEnergy_API /api/energy/
Redirect /HarvardEvents /events/
Redirect /HarvardEvents_API /api/events/
Redirect /HarvardFood_API /api/food/
Redirect /HarvardMaps_API /api/maps/
Redirect /HarvardNews_API /api/news/
Redirect /HarvardTweets_API /api/tweets/
Redirect /ID /id/
Redirect /IPs /ips/
Redirect /Notepad++ /notepad++/
Redirect /PuTTY /ssh/putty/
Redirect /Research /research/
Redirect /Screen_Scraping /scraping/
Redirect /Seminars /seminars/
Redirect /SecureCRT /ssh/securecrt/
Redirect /SecureFX /sftp/securefx/
Redirect /Shuttleboy_API /api/shuttleboy/
Redirect /Software /software/
Redirect /Style_Guide /style/
Redirect /Style /style/
Redirect /Terminal /ssh/terminal/
Redirect /Third-Party_APIs /api/
Redirect /WinSCP /sftp/winscp/
Redirect /VirtualBox /virtualbox
Redirect /Virtualization /virtualization

# redirects to latest versions of pages
RedirectMatch /appliance/$ /appliance/19/
