RewriteEngine on
RewriteBase /

# deny access to *.{asciidoc}
<FilesMatch "\.(asciidoc)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# route /css/*.scss to scss.php
RewriteCond %{REQUEST_URI} ^/css/.*\.scss$
RewriteRule .* scss.php [L]

# route /* to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php [L]

# backwards compatibility with former Manual
Redirect /Appliance /appliance
Redirect /CS50_Appliance /Appliance
Redirect /iOS_University_Program /ios

# redirects to latest versions of pages
RedirectMatch /appliance/$ /appliance/17/
