<!DOCTYPE html>

{% assign title = page.title | default: site.title %}
{% assign description = page.description | default: site.description %}

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    <head>

        <meta charset="utf-8"/>
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:image" content="TODO"/>
        <meta property="og:title" content="{{ title }}"/>

        <link rel="icon" href="{{ "/favicon.ico" | relative_url }}"/>
        <link rel="stylesheet" href="{{ "/css/styles.css" | relative_url }}"/>

        <title>{{ title }}</title>

    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!-- TODO
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    -->
                    <a class="navbar-brand" href="{{ "/" | relative_url }}">CS50 Documentation</a>
                </div>
                <!-- TODO
                <div class="collapse navbar-collapse" id="navbar">
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
                -->
            </div>
        </nav>

        <div class="container markdown-body">
            <div class="row">
                <div class="col-sm-12">
                    {{ content }}
                </div>
            </div>
        </div>

        <!-- https://code.jquery.com/ -->
        <script>
            {% include jquery-3.2.1.min.js %}
        </script>

        <!-- https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js -->
        <script>
            {% include bootstrap.min.js %}
        </script>

        <!-- https://github.com/bryanbraun/anchorjs/blob/master/anchor.min.js -->
        <script>
            {% include anchor.min.js %}
        </script>

        <!-- https://www.bryanbraun.com/anchorjs/ -->
        <script>

            anchors.options.placement = "right";
            anchors.options.visible = "touch";
            anchors.add();

            // keep anchors below fixed navbar, sans animation
            // https://stackoverflow.com/a/13067009/5156190
            // http://jsfiddle.net/ianclark001/rkocah23/
            (function(document, history, location) {
              var HISTORY_SUPPORT = !!(history && history.pushState);

              var anchorScrolls = {
                ANCHOR_REGEX: /^#[^ ]+$/,
                OFFSET_HEIGHT_PX: 74,

                /**
                 * Establish events, and fix initial scroll position if a hash is provided.
                 */
                init: function() {
                  this.scrollToCurrent();
                  $(window).on('hashchange', $.proxy(this, 'scrollToCurrent'));
                  $('body').on('click', 'a', $.proxy(this, 'delegateAnchors'));
                },

                /**
                 * Return the offset amount to deduct from the normal scroll position.
                 * Modify as appropriate to allow for dynamic calculations
                 */
                getFixedOffset: function() {
                  return this.OFFSET_HEIGHT_PX;
                },

                /**
                 * If the provided href is an anchor which resolves to an element on the
                 * page, scroll to it.
                 * @param  {String} href
                 * @return {Boolean} - Was the href an anchor.
                 */
                scrollIfAnchor: function(href, pushToHistory) {
                  var match, anchorOffset;

                  if(!this.ANCHOR_REGEX.test(href)) {
                    return false;
                  }

                  match = document.getElementById(href.slice(1));

                  if(match) {
                    anchorOffset = $(match).offset().top - this.getFixedOffset();
                    $('html, body').animate({ scrollTop: anchorOffset}, 0);

                    // Add the state to history as-per normal anchor links
                    if(HISTORY_SUPPORT && pushToHistory) {
                      history.pushState({}, document.title, location.pathname + href);
                    }
                  }

                  return !!match;
                },
                
                /**
                 * Attempt to scroll to the current location's hash.
                 */
                scrollToCurrent: function(e) { 
                  if(this.scrollIfAnchor(window.location.hash) && e) {
                    e.preventDefault();
                  }
                },

                /**
                 * If the click event's target was an anchor, fix the scroll position.
                 */
                delegateAnchors: function(e) {
                  var elem = e.target;

                  if(this.scrollIfAnchor(elem.getAttribute('href'), true)) {
                    e.preventDefault();
                  }
                }
              };

                $(document).ready($.proxy(anchorScrolls, 'init'));
            })(window.document, window.history, window.location);

        </script>

        {% if jekyll.environment == "production" and site.google_analytics %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', '{{ site.google_analytics }}', 'auto');ga('send', 'pageview');
           </script>
       {% endif %}

    </body>
</html>
