/* hide link and introduction atop TOC */
ul.summary li:nth-child(-n+3) {
    display: none;
}

/* hide previous/next controls */
a.navigation-prev, a.navigation-next {
    display: none;
}

/* hide social icons */
a.btn.pull-right.js-toolbar-action, div.dropdown.pull-right.js-toolbar-action {
    display: none;
}

/* hide chapter's title as unnecessary */
div.book-header h1 {
    display: none;
}