/* White backgound */
.wy-nav-content, .wy-nav-content-wrap {
    background-color: #fff !important;
}

/* Fill viewport horizontally */
.wy-nav-content {
    max-width: inherit;
}

/* Match font size in nav */
nav code, .wy-breadcrumbs code {
    font-size: inherit;
}

.rst-content .section {
    padding-top: 12px;
}

/* Remove bottom margins in nested lists */
.rst-content .section ol p,
.rst-content .section ol div[class^='highlight-'],
.rst-content .section ul p,
.rst-content .section ul div[class^='highlight-'] {
    margin-bottom: 6px !important;
    margin-top: 6px !important;
}

/* Add margins between list items */
.rst-content .section ol li:first-child,
.rst-content .section ol li + li,
.rst-content .section ul li:first-child,
.rst-content .section ul li + li {
    margin-top: 6px;
}

/* Match highlighted blocks */
.rst-content code.literal,
.rst-content tt.literal,
.rst-content tt.literal {
    color: inherit;
    background-color: rgb(248, 248, 248);
}

/* Wrap long words (and URLs, whether linked or not), especially on mobile,
but not in tables, which should instead scroll horizontally */
* {
    word-break: break-word;
}
table * {
    word-break: normal;
}

/* Wrap code */
code, .rst-content tt, .rst-content code {
    white-space: pre-wrap;
    word-break: break-word;
}

/* Don't display footer */
footer [role=contentinfo] {
    display: none;
}

/* Else too much space between h{i} and h{i+1} if latter immediately follows former */
.rst-content h1 + .section,
.rst-content h2 + .section,
.rst-content h3 + .section,
.rst-content h4 + .section,
.rst-content h5 + .section {
    padding-top: 0;
}

/* Center image */
img[alt="All the Docs"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Grow title */
.wy-side-nav-search > a,
.wy-side-nav-search .wy-dropdown > a {
    font-size: 200%;
}

/* Hide version */
.rst-versions {
    display: none;
}

/* Scroll code blocks */
.highlight {
    max-height: 50vh;
    overflow: auto;
}

/* Margin below GET DTs */
dl.get.http > dt {
    margin-bottom: 24px;
}

/* Mimic DL */
.sphinx-tabs {
    margin-bottom: 24px;
}

/* Shorten tabs */
.sphinx-tabs > .menu.tabular p {
    margin-bottom: 0 !important;
}
.sphinx-tabs > .menu.tabular .item {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

/* Eliminate margin along bottom of tabs */
.sphinx-tab > :last-child {
    margin-bottom: 0 !important;
}

/* Ensure "Edit on GitHub" isn't serif */
a.fa.fa-github {
    font-family: inherit;
}

/* Align checkboxes with paragraphs */
/* https://stackoverflow.com/a/39145674 */
.fa-ul li > a,
.fa-ul li > strong {
    display: inline-block;
    vertical-align: middle;
}
.rst-content .section ul.fa-ul li > :first-child {
    margin-top: 0;
}
.rst-content .section ul.fa-ul li > * {
    margin-bottom: 0;
    margin-top: 0;
}

/* Separate checkboxes vertically */
.rst-content .section ul.fa-ul li {
    padding-bottom: 6px;
}

/* Ensure only Font Awesome's checkboxes appear */
.rst-content .section ul.fa-ul li {
    list-style-type: none;
}

/* Match Zoom's switches */
.rst-content .section ul.fa-ul li .fa-toggle-off {
    color: #747487;
}
.rst-content .section ul.fa-ul li .fa-toggle-on {
    color: #0E71EB;
}

/* Match nested unordered lists */
.rst-content .section li ol {
    margin-bottom: 0;
}
